name: Deploy

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy to Fly
    runs-on: ubuntu-latest
    concurrency:
      group: deploy
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_DEPLOY_TOKEN }}
